<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <form action="/admin/footer/{{id}}/sub4/add" method="POST">
        <div class="mb-3">
          <label for="exampleInputImage" class="form-label">text</label>
          <input name="text" type="text" class="form-control" id="fileInput" aria-describedby="emailHelp">
        </div>
        <input type="hidden" value="{{id}}" name="footer_id">
        <button type="submit" class="btn btn-primary">SAVE</button>
      </form>
    </div>
  </div>
</div>


