  <section class="clients-logo-section pt-70 pb-70">
        <div class="container">
            <div class="row client-logo-active">{{#if product2.length}}
                      {{#each product2}}

                <div class="col-lg-3">     
                    <div class="single-logo-wrapper">
                        <img src="../../images/product2/{{image}}" alt="">
                    </div>
                </div>
                {{/each}}
                       {{/if}}
            </div>
        
        </div>
    </section>
    