{{!--  --}}
    <!--====== Preloader Part Ends ======-->

    <!--====== Navbar Style 7 Part Start ======-->
    {{!-- <div class="navigation">
     
      </div> --}}
      <!--====== Navbar Style 7 Part Ends ======-->

    <!--====== Header Style 1 Part Start ======-->
 {{>header}}
    <!--====== Header Style 1 Part Ends ======-->

    <!--====== Content Card Style 4 Part Start ======-->
{{>category}}
    <!--====== Content Card Style 4 Part Ends ======-->

    <!--====== Product Style 1 Part Start ======-->
  {{>features}}
    <!--====== Product Style 1 Part Ends ======-->

    <!--====== Product Style 7 Part Start ======-->
 {{>recent}}
    <!--====== Product Style 7 Part Ends ======-->

    <!--====== Features Part Start ======-->
   {{>awesome}}
    <!--====== Features Part Ends ======-->

    <!--====== Clients Logo Part Start ======-->
  {{>logo}}
    <!--====== Clients Logo Part Ends ======-->

    <!--====== Subscribe Part Start ======-->
   {{>subscribe}}
    <!--====== Subscribe Part Ends ======-->

    <!--====== Footer Style 3 Part Start ======-->

    <!--====== Footer Style 3 Part Ends ======-->

   
</body></html>